{% load static %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center">
      <a href="{% url 'home'%}" class="logo">Hawi <span> Photography</span></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li class="active"><a href="{% url 'home'%}">Home</a></li>

          <li><a href="#about">About</a> </li>
          <li><a href="#services">Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#footer">Contact</a></li> 

        </ul>

      </nav><!-- .nav-menu -->


    </div>
  </header><!-- End Header -->